@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #fe6433;
    --border-color: #dbdbdb;
    --rating-color: #ffce3d;

    --primary-color-hover: #fc7b61;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));

    --top-gap: calc(100% + 4px);
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    --background-transition: background-color 250ms ease-out;

    --transform-origin: calc(100% - 28px) top;
    --border-radius: 3px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Responsive */
.grid {
    width: 1380px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

.no-hover {
    cursor: text !important;
    color: var(--white-color) !important;
}

.text {
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        var(--primary-color) 90%,
        var(--primary-color) 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 0.25s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(1);
    }
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    animation: fadeIn 0.15s linear;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__container {
    position: relative;
    margin: auto;
    z-index: 1;
    animation: growth 0.15s linear;
}

/* Button style */
.btn {
    min-width: 124px;
    height: 34px;
    border: none;
    text-decoration: none;
    border-radius: var(--border-radius);
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
}
.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn.btn--disabled {
    cursor: default;
    color: #949494;
    background-color: #c3c3c3;
}

.btn.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

/* Selection */
.select-input {
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: var(--border-radius);
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.5rem;
    position: relative;
}
.select-input__label {
    font-size: 1.4rem;
}
.select-input__icon {
    font-size: 1.4rem;
    color: #5c5b5b;
    cursor: pointer;
}

.select-input:hover .select-input__list {
    display: block;
}
.select-input__list {
    position: absolute;
    z-index: 5;
    top: var(--top-gap);
    left: 0;
    right: 0;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    padding: 8px 16px;
    display: none;
}
.select-input__list::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    height: 10px;
}
.select-input__link {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 0;
}
.select-input__link:hover {
    color: var(--primary-color);
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-item {
    margin: 0 12px;
}
.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: var(--background-transition);
}
.pagination-item--active .pagination-item__link:hover {
    background-color: var(--primary-color-hover);
}
.pagination-item__link {
    --height: 30px;
    display: block;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    border-radius: var(--border-radius);
    font-size: 2rem;
    color: #939393;
    text-align: center;
    text-decoration: none;
}
