.app {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background: linear-gradient(-80deg, #fe6433, #f53e2d);
}

.header__navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 6px;
    display: flex;
}

.navbar__item {
    margin: 0 8px;
    position: relative;
}

.navbar__item,
.navbar__item-link,
.navbar__item-icon-link {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    line-height: 1.5rem;
}
.navbar__item:hover,
.navbar__item-link:hover,
.navbar__item-icon-link:hover {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
.navbar__item-icon-link:nth-child(2) {
    margin-left: 3px;
}

.navbar__item--bold {
    font-weight: 400;
}

.navbar__item-separate::after {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 16px;
    background-color: #fb9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

/* Header QR code */
.navbar__qr {
    background-color: white;
    width: 186px;
    position: absolute;
    z-index: 10;
    left: 0;
    top: var(--top-gap);
    padding: 8px;
    border-radius: var(--border-radius);
    display: none;
    box-shadow: var(--box-shadow);
    animation: fadeIn 0.3s ease-in-out;
}
.show-qr:hover .navbar__qr {
    display: block;
}

.navbar__qr ::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    top: -16px;
    left: 0;
}

.navbar__qr-img {
    width: 100%;
}

.navbar__qr-apps {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}

.navbar__qr-link {
    opacity: 1;
    transition: all 0.25s ease;
}
.navbar__qr-link:hover {
    opacity: 0.8;
}

.download-img {
    height: 18px;
}

/* Header notification */
.navbar__notify {
    position: absolute;
    top: var(--top-gap);
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    border-radius: var(--border-radius);
    cursor: default;
    transform: scale(0);
    opacity: 0;
    transform-origin: var(--transform-origin);
    will-change: transform, opacity;
    transition: all 0.25s ease-out;
    z-index: 10;
    box-shadow: var(--box-shadow);
}
.navbar__item--notify:hover .navbar__notify {
    transform: scale(1);
    opacity: 1;
}

.navbar__notify::before {
    content: "";
    position: absolute;
    top: -29px;
    right: 2px;
    z-index: -1;
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}
.navbar__notify::after {
    content: "";
    position: absolute;
    top: -18px;
    right: 0;
    width: 100px;
    height: 20px;
    cursor: pointer;
}

.notify__header {
    height: 40px;
    background-color: var(--white-color);
    user-select: none;
}
.notify__header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.notify__list {
    padding-left: 0;
}
.notify__item {
    padding: 12px;
    transition: var(--background-transition);
}
.notify__item:hover {
    background-color: #f7f7f7;
}
.notify__item--viewed {
    background-color: rgba(238, 75, 43, 0.1);
}
.notify__link {
    display: flex;
    text-decoration: none;
}
.notify__item-img {
    width: 50px;
    object-fit: contain;
}
.notify__item-info {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4px;
}
.notify__item-name {
    display: block;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--text-color);
    font-weight: 500;
}
.notify__item-desc {
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    font-weight: 400;
    line-height: 1.8rem;
}

.notify__footer {
    text-align: center;
}
.notify__footer-btn {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    padding: 12px 16px;
    font-weight: 400;
}
.notify__footer-btn:hover span {
    background-size: 100% 100%;
    background-position-x: left;
}

/* Header User */
.navbar__item-user {
    display: flex;
    align-items: center;
    position: relative;
}
.navbar__item-user-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar__item-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
}

.user__menu {
    position: absolute;
    top: var(--top-gap);
    right: 0;
    z-index: 10;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    width: 160px;
    box-shadow: var(--box-shadow);
    transform: scale(0);
    opacity: 0;
    transform-origin: var(--transform-origin);
    will-change: transform, opacity;
    transition: all 0.25s ease-out;
}
.navbar__item-user:hover .user__menu {
    transform: scale(1);
    opacity: 1;
}
.user__menu::before {
    content: "";
    position: absolute;
    top: -29px;
    right: 2px;
    z-index: -1;
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
}
.user__menu::after {
    content: "";
    width: 100px;
    height: 14px;
    position: absolute;
    top: -12px;
    right: 0;
}

.user__item-link--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    color: var(--primary-color) !important;
}
.user__item-link--separate .logout-icon {
    font-size: 1.4rem;
    margin-left: 4px;
}
.user__item-link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 10px 16px;
    transition: var(--background-transition);
}
.user__item-link:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.user__item-link:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.user__item-link:hover {
    background-color: #f0f0f0;
}

/* Auth Modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    outline: none;
}
.form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
    padding: 0 12px;
}
.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}
.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 22px;
}
.auth-form__socials--facebook {
    background-color: #3a5a98;
    color: var(--white-color);
}
.auth-form__socials-icon {
    font-size: 1.8rem;
}
.auth-form__socials-title {
    margin: 0 34px;
}
.auth-form__socials--google {
    color: #666;
    background-color: var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: 0 16px;
    transform: translateY(-4px);
    border-left: 1px solid #eaeaea;
}
.auth-form__help-forgot {
    color: var(--primary-color);
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__mobile-search {
    padding: 8px 12px;
    cursor: pointer;
    display: none;
    -webkit-tap-highlight-color: transparent;
}
.header__mobile-search-icon {
    font-size: 2.4rem;
    color: var(--white-color);
}

/* Header Logo */
.header__logo {
    width: 200px;
    -webkit-tap-highlight-color: transparent;
}
.header__logo-link {
    color: transparent;
    text-decoration: none;
    display: block;
    line-height: 0;
}
.header__logo-img {
    width: 150px;
}

/* Header Search */
.header__search {
    height: 40px;
    flex: 1;
    border-radius: var(--border-radius);
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: var(--border-radius);
}
.header__search-history {
    position: absolute;
    z-index: 5;
    top: var(--top-gap);
    left: 0;
    width: 94%;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    display: none;
}
.header__search-input:focus ~ .header__search-history {
    display: block;
}
.header__search-history-heading {
    margin: 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}
.header__search-history-item {
    height: 36px;
    padding: 0 12px;
    transition: var(--background-transition);
}
.header__search-history-item a {
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
    color: var(--text-color);
    width: 100%;
    height: 100%;
    line-height: 36px;
}
.header__search-history-item:hover {
    background-color: #eeeeee;
}

.header__search-select {
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    cursor: pointer;
}
.header__search-select::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -6px;
    right: 0;
    width: 130px;
    height: 8px;
    cursor: default;
}
.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-icon {
    font-size: 1.4rem;
    color: #5c5b5b;
    margin: 0 16px 0 8px;
}

.header__search-option {
    position: absolute;
    z-index: 5;
    right: 0;
    top: var(--top-gap);
    width: 134px;
    padding-left: 0;
    margin: 0;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    display: none;
    animation: fadeIn 0.3s ease-in-out;
}
.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option-item {
    list-style-type: none;
    background-color: var(--white-color);
    padding: 12px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--background-transition);
}
.header__search-option-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
.header__search-option-item span,
.header__search-option-item i {
    font-size: 1.4rem;
    margin: 0 8px;
    color: var(--text-color);
}
.header__search-option-item i {
    color: var(--primary-color);
    display: none;
}
.header__search-option-item--active i {
    display: inline-block;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    outline: none;
    width: 60px;
    height: 34px;
    border-radius: var(--border-radius);
    margin-right: 3px;
    transition: var(--background-transition);
}
.header__search-btn:hover {
    background-color: var(--primary-color-hover);
    cursor: pointer;
}
.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

/* Header Cart */
.header__cart {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__cart-wrap {
    position: relative;
    padding: 8px 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
}
.header__cart-notice {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 2px 8px;
    background-color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.2rem;
    color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid #ee4d2d;
}

.header__cart-list {
    position: absolute;
    z-index: 10;
    top: var(--top-gap);
    right: 50px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transform: scale(0);
    opacity: 0;
    transform-origin: var(--transform-origin);
    will-change: transform, opacity;
    transition: all 0.25s ease-out;
    cursor: default;
}
.header__cart-wrap:hover .header__cart-list {
    transform: scale(1);
    opacity: 1;
}
.header__cart-list::before {
    content: "";
    position: absolute;
    top: -26px;
    right: 3px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}
.header__cart-list::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    width: 100px;
    height: 14px;
}
.header__cart-list--no-cart {
    padding: 24px 0;
}
.header__cart-list--no-cart .header__cart--no-cart-img,
.header__cart-list--no-cart .header__cart--no-cart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.header__cart--no-cart-img {
    width: 54%;
    display: none;
}
.header__cart--no-cart-msg {
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
    display: none;
}
/* List Products */
.header__cart-products {
    width: 100%;
}

.header__cart-heading {
    text-align: left;
    font-size: 1.4rem;
    color: #999;
    line-height: 40px;
    margin-left: 12px;
    vertical-align: middle;
}
.header__cart-products-list {
    max-height: 54vh;
    overflow-y: auto;
}
.header__cart-product {
    display: flex;
    align-items: center;
    transition: var(--background-transition);
}
.header__cart-product:hover {
    background-color: #f7f7f7;
}
.header__cart-product-img {
    width: 50px;
    height: 50px;
    border: 1px solid #cac9c9;
    margin: 12px;
}
.header__cart-product-info {
    width: 100%;
    margin-right: 12px;
}
.header__cart-product-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-product-name {
    flex: 1;
    padding-right: 8px;
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
    color: var(--text-color);
    text-align: left;
    line-height: 1.8rem;
}
.header__cart-product-purchase {
    width: 84px;
    display: flex;
    justify-content: space-between;
}
.header__cart-product-price {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}
.header__cart-product-multiplier {
    color: #757575;
}
.header__cart-product-quantity {
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-product-body {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.header__cart-product-description {
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-product-remove {
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 500;
}
.header__cart-product-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.cart-btn {
    float: right;
    margin: 12px;
    transition: var(--background-transition);
}
.cart-btn:hover {
    background-color: var(--primary-color-hover);
}

/* Header sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: none;
}
.header__sort-item {
    flex: 1;
}
.header__sort-item:first-child .header__sort-link::before {
    display: none;
}
.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}
.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}
.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

/* App Container */
.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: var(--border-radius);
}
.category__heading {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 16px 16px 0;
    color: var(--text-color);
    margin-top: 0;
    text-transform: uppercase;
}
.category-list {
    padding-bottom: 8px;
}
.category-item {
    position: relative;
}
.category-item:first-child::before {
    display: none;
}
.category-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    border-top: 1px solid #e1e1e1;
}
.category-item--active .category-item__link {
    color: var(--primary-color);
}
.category-item__link {
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 20px;
    position: relative;
}
.category-item__link:hover {
    color: var(--primary-color);
}

/* Mobile Category */
.mobile-category {
    display: none;
}
.mobile-category__list {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
}
.mobile-category__list::-webkit-scrollbar {
    display: none;
}
.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}
.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #66bfbf;
}
.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #abc9ff;
}
.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: #e8a0bf;
}
.mobile-category__link {
    --line-height: 2rem;
    display: block;
    color: var(--white-color);
    border-radius: 4px;
    padding: 0 6px;
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    width: 110px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -webkit-user-select: none;
}
/* Home Filter */
.home-filter {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: var(--border-radius);
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__btn {
    min-width: 92px;
    margin-right: 12px;
    transition: var(--background-transition);
}
.home-filter__btn:hover {
    background-color: #f7f7f7;
}
.home-filter__btn.btn--primary:hover {
    background-color: var(--primary-color-hover);
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current {
    color: var(--primary-color);
}
.home-filter__page-control {
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn {
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;
    transition: var(--background-transition);
}
.home-filter__page-btn:hover {
    background-color: #f7f7f7;
}
.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}
.home-filter__page-btn--disabled {
    background-color: #f7f7f7;
    cursor: default;
}
.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}
.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Product Item */
.home-product {
    margin-bottom: 10px;
}

.product-item {
    display: block;
    text-decoration: none;
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    transition: transform 0.1s linear;
    will-change: transform;
}
.product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 5%);
}
.product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -1px center;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.product-item__info {
    padding: 8px;
}
.product-item__name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 0 0 8px 0;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 10px;
}
.product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}
.product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
}
.product-item__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0 8px;
}
.product-item__like {
    font-size: 1.4rem;
}
i.product-item__like-icon-fill {
    display: none;
}
.product-item__like--liked .product-item__like-icon-fill {
    display: inline-block;
    color: #f63d30;
}
.product-item__like--liked .product-item__like-icon-empty {
    display: none;
}
.product-item__rating {
    font-size: 0.8rem;
    color: var(--rating-color);
    margin-left: auto;
}
.product-item__sold {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 8px;
}
.product-item__origin {
    display: flex;
    justify-content: space-between;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 400;
}
.product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.product-item__favorite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}
.product-item__favorite span {
    color: var(--white-color);
}
.product-item__favorite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}
.product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
    border-top-right-radius: var(--border-radius);
}
.product-item__sale-off::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}
.product-item__sale-off-percent {
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
}
.product-item__sale-off-label {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: var(--white-color);
    font-weight: 600;
}

.home-product__pagination {
    margin: 48px 0 32px;
}

/* Footer */
.footer {
    background-color: var(--white-color);
    border-top: 4px solid var(--primary-color);
    padding-top: 8px;
}
.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
    margin: 32px 0 20px;
}
.footer-item__link {
    font-size: 1.4rem;
    color: #737373;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 8px 0;
}
.footer-item__link:hover {
    color: var(--primary-color);
}
.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}
.footer-item__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}
.footer-item__download-apps {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}
.footer-item__download-link {
    text-decoration: none;
    color: transparent;
}
.footer-item__download-app {
    height: 20px;
}

.footer__bottom {
    padding: 12px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
}
.footer__text {
    margin: 0;
    font-size: 1.4rem;
    color: #737373;
    text-align: center;
}
